<!DOCTYPE html>
<html>
<head>
    <title>Front Page</title>
    <link href="~/style/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/script/bootstrap.js"></script>
</head>
<body>
    <form method="post" action="">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Department:</span><input type="text" class="form-control" name="Department" placeholder="Department" />
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Class:</span><input type="password" class="form-control" name="Class" placeholder="Class" />
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">CRN:</span><input type="password" class="form-control" name="CRN" placeholder="CRN" />
            </div><br>
            <input class="btn btn-danger" type="submit" name="submit" value="Submit" />
        </div>
    </form>
</body>
</html>